</main>
<footer class="site-footer">
  <div class="container">
    <div><strong>echo environmental</strong></div>
    <div>750 Premordial Ave. Seattle, WA • 418-774-8925 • echoenvyROOT@echoenvy.org</div>
    <div>© 2025 • Built by IM-R</div>
  </div>
</footer>
</body>
</html>
