<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>echo environmental</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style></style>
</head>
<body>
   <ul>
      <li><a href="home.ejs">home</a></li>
      <li><a href="recycle.ejs">recycle initiative</a></li>
      <li><a href="petition.ejs">sign our petition</a></li>
      <li><a href="consignup.ejs">attend a conference</a></li>
      <li><a href="resources">resources</a></li>
    </ul>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">echo environmental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="home.ejs" href="#">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="recycle.ejs">join our recycle intitiative</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="consignup.ejs">sign up for an upcoming conference</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="petition.ejs">fill out our petition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resources.ejs">more resources</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
