<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>echo environmental</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style></style>
</head>
<body>
   <ul>
      <li><a href="home.ejs">home</a></li>
      <li><a href="recycle.ejs">recycle initiative</a></li>
      <li><a href="petition.ejs">sign our petition</a></li>
      <li><a href="consignup.ejs">attend a conference</a></li>
      <li><a href="resources">resources</a></li>
    </ul>
</body>
