<%- include('../partials/head') %>
<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section class="hero">
  <h1>welcome to echo environmental !</h1><br>
  <p>echo environmental is a non profit organization on a mission to mitigate the effects of climate change and global warming on the environment.</p>
</section>
<section class="reach">
  <h2> To get the gist of why our cause is important, click on any of these sources to learn more about global warming and climate changes' effects on the environment!</h2>
    <ul>
      <li><a href="https://science.nasa.gov/climate-change/effects/">cc effects - nasa</a></li>
      <li><a href="https://www.epa.gov/climatechange-science/impacts-climate-change">cc impacts - epa</a></li>
      <li><a href="https://www.nationalgeographic.com/environment/article/global-warming-effects">gw effects - national geographic</a></li>
      <li><a href="https://polarbearsinternational.org/act-now/take-action/?msclkid=e0f44638c83516c468df2eee15dec07c&utm_source=bing&utm_medium=cpc&utm_campaign=CN_GG_S_Organization%2FEvents&utm_term=sea%20ice%20melting&utm_content=EON%3A%20Take%20Action">save our beloved polar bears</a></li>
    </ul>
</section>
<%- include('../partials/foot') %>
