<%- include('../partials/head') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section class="hero">
  <h1>welcome to echo environmental !</h1><br>
  <p>echo environmental is a non profit organization on a mission to mitigate the effects of climate change and global warming on the environment.</p>
</section>
  <h2> To get the gist of why our cause is important, click on any of these sources to learn more about global warming and climate changes' effects on the environment!</h2>
  <ul>
    <li><a href="https://science.nasa.gov/climate-change/effects/">cc effects - nasa</a></li>
    <li><a href="https://www.epa.gov/climatechange-science/impacts-climate-change">cc impacts - epa</a></li>
    <li><a href="https://www.nationalgeographic.com/environment/article/global-warming-effects">gw effects - national geographic</a></li>
    <li><a href="https://polarbearsinternational.org/act-now/take-action/?msclkid=e0f44638c83516c468df2eee15dec07c&utm_source=bing&utm_medium=cpc&utm_campaign=CN_GG_S_Organization%2FEvents&utm_term=sea%20ice%20melting&utm_content=EON%3A%20Take%20Action">save our beloved polar bears</a></li>
  </ul>
  <div>
    <br>
      <h2>here's a video with a more in depth reach into climate change's evil twin: ocean acidification.</h2>
    <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Nof54u0v-e8?si=_OUP0fMckMVTClY4&amp;start=32" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
  <h1><b>we keep track of global temperature changes and deforestation rates via these websites.
    <iframe width="525" height="345" src="https://climatechangetracker.org/global-warming" title="Global Warming Tracker"></iframe"><iframe width="525" height="345" src="https://www.globalforestwatch.org/map/?mapMenu=eyJtZW51U2VjdGlvbiI6ImRhdGFzZXRzIiwiZGF0YXNldENhdGVnb3J5IjoiZm9yZXN0Q2hhbmdlIn0%3D" title="deforestation map"></iframe>
  </b></h1>
  </div>
</body>
</html>
<%- include('../partials/foot') %>
