<%- include('../partials/head') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-10 col-md-8">
      <div class="container-fluid">
        <h1 class="display-3">What is our Recycling Initiative?</h1>
          <br>
            We're on a mission to implement subsidized recycling sorting all throughout the United States. Each resident within a 
      </div>
    </div>
  </div>
    <br>
<div class="row">
  <div class="col-8 col-md-5">
    <div class="container-md">
      <h3>Sign Up to Join our Recycling Initiative!</h3>
    </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>

      <div class="mb-3">
        <label for="basic-url" class="form-label">Your vanity URL<span><i class="bi bi-globe-americas-fill"></i></span></label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
        <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
      </div>
  </div>
</div>
  </body>
  </html>
<%- include('../partials/foot') %>
